<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a New Puppy</title>
  </head>
  <body>
    <form class="text" action="/" method="POST">
      <p><input type="text" name="" value=""></p>

    </form>
  </body>
</html>
