<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your New Puppy</title>
  </head>
  <body>
    <h1>Your New Puppy</h1>
    <h2>Name: <%= @puppy.name %></h2>
    <h2>Breed: <%= @puppy.breed %></h2>
    <h2>Age: <%=@puppy.age %></h2>
  </body>
</html>
